h2 Dokumentationen
p Die allwissende Müllhalde
.row
  .span6
    .input-control.text(data-role="input-control")
      input#doc_search(type="text",placeholder="Suchbegriff")
      button.btn-clear.fg-steel(tabindex="-1")
    div(style='width:100%')
      .toolbar.place-right(style='margin-bottom:0px')
        button#doc_btnOpenAll.mini Alle öffnen
        button#doc_btnCloseAll.mini Alle schließen
    div(style='clear:all')
    #doc_inhalt(style="width:100%;height:400px;overflow:auto")
      ul.treeview(data-role="treeview")
  .span6.bg-white
    nav#doc_crumbs.breadcrumbs.mini
      ul
        li
          a(href="#")
            i.icon-home
    h2#doc_topic Topic
    p#doc_id ID:
    #doc_topictext(style="width:100%;border:1px solid #d9d9d9") Hallo!
    .row
      .span3
        label Login
        input(type="text",data-transform="input-control")
      .span3
        label AD-Account
        input(type="text",data-transform="input-control")
    label Mail
    input(type="email", data-transform="input-control")
    label Telefon
    input(type="checkbox", data-transform="input-control", data-transform-type="switch")
    label Number
    .input-control.text
      input(type="number")
    label Datum
    .input-control.text.size2(data-role="datepicker",data-effect="fade")
      input#datep(type="text" disabled)
      button.btn-date

script(src='/javascripts/dokusys/dokusys.js')





