h2 Benutzer-Verwaltung
button.no-desktop Test
.row
  .span6
    #userliste.listview-outlook.bg-white(data-role="listview", style="height:400px;overflow:auto;")
  #userdata.span6.bg-white(style='display:none')
    .row(style='margin-top:0px')
      .span3
        label Login
        input(id="user_login",type="text",data-transform="input-control")
      .clearAll.no-desktop
      .span3
        label AD-Account
        input(id="user_ADAccount",type="text",data-transform="input-control")
    label Mail
    input(id='user_mail',type="email", data-transform="input-control")

    fieldset
      label Status
      input(id='user_status',type="checkbox", data-transform="input-control", data-transform-type="switch")
      #user_statusTxt.inline-block aktiv

    //-
      label Datum
      .input-control.text.size2(data-role="datepicker",data-effect="fade")
        input#datep(type="text" disabled)
        button.btn-date
    hr
    div(style="text-align:center")
      button#btn_OK.primary 
        i.icon-floppy.on-left
        | Speichern
      button#btn_cancel.danger.on-right
        i.icon-cancel.on-left
        | Abbrechen


script.
  $(window).resize( function(){
    $('#userliste').height( $(window).height() - $('#userliste').position().top -30 )
  })
  
  $.getJSON( "/system/user/getList", {'cmd' : '' }, function( data ) {
    if (data.err) {
      alert(data.err)
      $(location).attr("href","/login")
      return
    }
    var items = [];
    $.each( data.rows, function( key, val ) {
      console.log(JSON.stringify(val))
      items.push( "<a href='#' class='list' data-json='" + JSON.stringify(val) + "'><div class='list-content' >"
        + "<div class='list-icon icon-user " 
        + (val.enabled ? "fg-green' />" : "fg-red' />")
        + "<div class='data' >"
        + "<span class='list-title'>" + val.login + "</span>"
        + "<span class='list-subtitle'>" + val.mail + "</span>"
        + "</div>"
        + "</div></a>" );
    })
    $('#userliste').html(items.join(""))
    
    $('.list',"#userliste").click( function() { 
      $('#user_login').attr("value", $(this).data("json").login ) 
      $('#user_ADAccount').attr("value", $(this).data("json").ADAccount) 
      $('#user_mail').attr("value", $(this).data("json").mail ) 
      $('#user_status').prop("checked", $(this).data("json").enabled) 
      $('#user_status').change() 
      $('#userdata').show("slide")
      })
    //$('.icon-user').click( function() { alert("User") } )
    //$('.list-subtitle').click( function() { alert("Subtitle") } )
  })

  $('#user_status').change( function(){
    $('#user_statusTxt').text( ( $(this).prop("checked") ? "aktiv" : "deaktiviert") )
  })

  $('#btn_cancel').click( function(){
    $('#userdata').hide('slide')
  })

  $('#btn_OK').click( function(){
    alert( $('#user_status').prop('checked') )
  })
  
  //$("label").css("margin","0px")
  $.Metro.initAll()
 

  $(window).resize()


