doctype html
html
  head
    //- title #{AppConfig.title}
    title JL
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="product", content="Metro UI on Express Template")
    meta(name="description", content="Responsive css framework adapted on Express.js on Node.js")
    meta(name="author", content="Jens Leuschner")

    link(rel="icon",href="icon.png",type="image/x-icon")
    link(rel="shortcut icon",href="icon.png",type="image/x-icon")
    link(rel="apple-touch-icon",href="icon.png")
    link(rel="apple-touch-startup-image",href="icon.png")
    meta(name="mobile-web-app-capable",content="yes")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="apple-mobile-web-app-status-bar-style",content="black")



    link(rel='stylesheet', href='/bower_components/metro-ui-css/min/metro-bootstrap.min.css')
    //link(rel='stylesheet', href='/bower_components/metro-ui-css/min/metro-responsive.min.css')
    link(rel='stylesheet', href='/bower_components/metro-ui-css/css/metro-bootstrap-responsive.css')
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/jquery-ui/ui/minified/widget.min.js')
    script(type='text/javascript', src='/bower_components/jquery-mousewheel/jquery.mousewheel.min.js')
    script(type='text/javascript', src='/bower_components/metro-ui-css/min/metro.min.js')
    //script(type='text/javascript', src='/bower_components/metro-ui-css/js/metro-calendar.js')
    //script(type='text/javascript', src='/bower_components/metro-ui-css/js/metro-datepicker.js')

    script(type='text/javascript', src='/javascripts/User.js')
    style(type="text/css")
      | .notify-container { margin-top : 44px }
      | table.table-fixed-header tbody, table.table-fixed-header thead {display: block }
      | table.table-fixed-header tbody { height: 300px; overflow: auto }
      | .table-hover tbody tr:hover td { background: lightBlue; }
      | .padd { margin-left:10px; }
      | .clearAll { clear : both }
      | input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button { -webkit-appearance: inner-spin-button !important;}

  body.metro(style="background-color: #f0eeee; ")
    block content