h2 Benutzer-Verwaltung
p sdhsjdh
a#btnTest.button Button
.row
  .span6
    #userliste.listview-outlook.bg-white(data-role="listview", style="height:400px;overflow:auto;")
  .span6.bg-white
    .row
      .span3
        label Login
        input(type="text",data-transform="input-control")
      .span3
        label AD-Account
        input(type="text",data-transform="input-control")
    label Mail
    input(type="email", data-transform="input-control")
    label Telefon
    input(type="checkbox", data-transform="input-control", data-transform-type="switch")
    label Number
    .input-control.text
      input(type="number")
    label Datum
    .input-control.text.size2(data-role="datepicker",data-effect="fade")
      input#datep(type="text" disabled)
      button.btn-date


script.
  $('#btnTest').click( function(){
    alert("Click")
  })

  $(window).resize( function(){
    $('#userliste').height( $(window).height() - $('#userliste').position().top -30 )
  })

  //$('#datep').datepicker();

  $.Metro.initAll()
  
  $.getJSON( "/ajax/", {'cmd' : 'sys_userliste' }, function( data ) {
    if (data.err) {
      alert(data.err)
      $(location).attr("href","/login")
      return
    }
    var items = [];
    $.each( data.rows, function( key, val ) {
      items.push( "<a href='#' class='list'><div class='list-content' >"
        + "<div class='list-icon icon-user " 
        + (val.enabled ? "fg-green' />" : "fg-red' />")
        + "<div class='data' >"
        + "<span class='list-title'>" + val.login + "</span>"
        + "<span class='list-subtitle'>" + val.mail + "</span>"
        + "</div>"
        + "</div></a>" );
    })
    $('#userliste').html(items.join(""))
    
    $('#userliste').listview({
      onListClick: function(_list){
        //$('#userdata').html( _list.html() )
        }
      })
    //$('.icon-user').click( function() { alert("User") } )
    //$('.list-subtitle').click( function() { alert("Subtitle") } )
  })

 

  $(window).resize()


