h2 Benutzer-Verwaltung
p sdhsjdh
a#btnTest.button Button
.row
  .span6
    #userliste.listview-outlook.bg-white(data-role="listview", style="height:400px;overflow:auto;")
  .span6.bg-white
    .row
      .span3
        label Login
        input(type="text",data-transform="input-control")
      .span3
        label AD-Account
        input(type="text",data-transform="input-control")
    label Mail
    input(type="email", data-transform="input-control")
    label Telefon
    input(type="checkbox", data-transform="input-control", data-transform-type="switch")
    label Number
    .input-control.text
      input(type="number")
    label Datum
    .input-control.text.size2(data-role="datepicker",data-effect="fade")
      input#datep(type="text" disabled)
      button.btn-date



